@import url(./_hidden/result__button-show_hidden.css);

.result__button-show {
    width: 288px;
    border-radius: 80px;
    align-self: center;
    background: #FFF;

}
.result__button-show:active {
    opacity: .9;
}