.result__cardlist {
    display: flex;
    flex-direction: column;
    margin: 5% 0 6.5% 0; 
}

@media screen and (max-width: 770px) {
    .result__cardlist {
              
    }       
  }

@media screen and (max-width: 650px) {
    .result__cardlist {        
        margin: 9% 0 4% 0;           
    }       
  }