.about {
    max-width: 100%;
    padding-top: 5.55%;
    padding-bottom: 6.53%;
    
    margin-left: 0;
    display: flex;
    flex-direction: column;
}

.about__header{
    font-weight: normal;
    margin-bottom: 3%;
}
.about__header-name{
    font-weight: 500;
}
.about__return-link{
    font-size: 25px;
    font-weight: 500;
    margin-top: 3%;
    margin-left: -20px;
    transition: all .2s ease;
}
.about__return-link:hover{
    color: #ffd500;
}


@media screen and (max-width: 1000px) {
    .about {
        
        margin-right: 0;
    }
  }