.pagination {
    list-style: none;
    display: flex;
    margin: auto;
}

.pag-item {
    width: 30px;
    height: 30px;
    border: 1px solid grey;
    margin: 1px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.pag-item:hover {
    background-color: #f9ca73;
}

.pag-item_active {
    background-color: #FFA500;
}