@import url(./__content/author__content.css);
@import url(./__description/author__description.css);
@import url(./__photo/author__photo.css);


.author {
    display: flex;     
    padding-top: 5.55%;
    padding-bottom: 5.55%;
    
}

@media screen and (max-width: 770px) {
    .author {
    padding-top: 5.20%;
    padding-bottom: 5.20%;
    }
  }

@media screen and (max-width: 600px) {
    .author {
    flex-direction: column;
    padding-top: 8%;
    padding-bottom: 35px;
    }
  }