.search__button {
  position: absolute;
  width: 168px;
  right: -1px;
  background: #e8c100;
  color: inherit;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  
}

.search__button:hover {
    background: #ffd91e;  
}

.search__button:active {
    background: #dab500;
}

@media screen and (max-width: 450px) {
  .search__button {
    position: relative; 
    width: 100%; 
    margin-top: 16px;
  }
}
