.title {
  font-family: "Roboto Slab", sans-serif;
  font-size: 40px;
  font-weight: normal;
  line-height: 46px;
  margin-bottom: 24px;
}

@media screen and (max-width: 900px) {
  .title {
    font-size: 30px;
    line-height: 40px; 
  }
}
