@import url(./_hidden/preloader_hidden.css);
@import url(./__circle/preloader__circle.css);
@import url(./__text/preloader__text.css);

.preloader {
    height: 282px;
    display: flex;
    position: relative;
    background: #ffffff00;
}

@media screen and (max-width: 770px) {
    .preloader {
        height: 252px;
    }
  }

@media screen and (max-width: 450px) {
    .preloader {
        height: 170px;  
    }
  }
