.block__title {
    font-family: 'Roboto Slab', sans-serif;    
    font-size: 35px;
    line-height: 46px;
    margin-right: 10px;
    /* white-space: pre-line;  */
}

@media screen and (max-width: 770px) {
    .block__title {
        font-size: 30px; 
        width: 440px;
        line-height: 34px;
        
    }
  }

@media screen and (max-width: 550px) {
    .block__title {
        width: auto;
        white-space: pre; 
        line-height: 40px;
    }
  }