.card {     
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 25px;
  border: 1px solid #000;
  border-radius: 50px;
    
  margin-bottom: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	transition: all 0.2s ease-in-out;    
}
.card:hover{
  cursor: pointer;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.card__name{
  font-size: 18px;
  text-overflow: ellipsis;
    overflow: hidden;
    flex-basis: 370px;
}
.card__rate{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__rate-image{
  width: 30px;
  height: 30px;
}
.card__rate-total{
  font-size: 15px;
  font-weight: bolder;
  margin-left: 3px;
}
.card__last-update{
  font-size: 14px;
}
.card__date{

}
.card__git-link{
  
  cursor: pointer;
}

@media screen and (max-width: 1080px) {
  .card {
    font-size: 14px;  
  }
  .card__name{
    flex-basis: 270px;
  }
}

/* @media screen and (max-width: 650px) {
  .card:not(:last-child) {
    margin-bottom: 3%;
    padding: 4%;   
  }
} */





