@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/root/root.css);
@import url(../blocks/button/button.css);
@import url(../blocks/menu/menu.css);
@import url(../blocks/header/header.css);
@import url(../blocks/about/about.css);
@import url(../blocks/title/title.css);
@import url(../blocks/description/description.css);
@import url(../blocks/block/block.css);
@import url(../blocks/link/link.css);
@import url(../blocks/repo-card/repo-card.css);
@import url(../blocks/disconnect/disconnect.css);

@import url(../blocks/author/author.css);
@import url(../blocks/commits/commits.css);

@import url(../blocks/content/content.css);
@import url(../blocks/footer/footer.css);