@import url(./_hidden/disconnect_hidden.css);
@import url(./__img/disconnect__img.css);
@import url(./__subtitle/disconnect__subtitle.css);
@import url(./__title/disconnect__title.css);

.disconnect { 
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff00;
}


@media screen and (max-width: 770px) {
    .disconnect {
        height: 350px;
    }
  }