.card__text {
  font-size: 16px;    
  line-height: 22px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden; 
  margin-bottom: 30px;
  max-height: 110px; 
}

@media screen and (max-width: 770px) {
  .card__text {
    -webkit-line-clamp: 4; 
  }
}