@import url(./_hidden/not-found_hidden.css);
@import url(./__pic/not-found__pic.css);
@import url(./__subtitle/not-found__subtitle.css);
@import url(./__title/not-found__title.css);

.not-found {
    height: 374px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff00;
}

@media screen and (max-width: 770px) {
    .not-found {
        height: 314px;
    }
  }